@model IEnumerable<Cimob.Models.Candidatura.Pais>



<h2>Lista de Países</h2>
<div class="DefaultPresentation">
    <div class="vertical-menu">
        <a href="#" class="active">Países</a>
        <a class="SubMenuSelected" asp-area="" asp-controller="Pais" asp-action="searchPais">Consultar Países</a>
        <a class="SubMenu" asp-area="" asp-controller="Home" asp-action="Team">Ajuda</a>
    </div>


    <div style="margin-left: 5%;width: 131%;">
        <form asp-controller="Pais" asp-action="SearchPais">
            <p>
                <input type="text" name="id" style="height:40px; width:400px" />

                <button type="submit" class="btn btn-default">Pesquisar </button>

            </p>
        </form>
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nome Pais
                    </th>
                </tr>
            </thead>
            <tbody>
                @{if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomePais)
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <text>"Resultado não encontrado"</text>
                    }

                }
            </tbody>
        </table>
    </div>
</div>

