@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Iniciar Sessão";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Iniciar Sessão</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/estiloLogin.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/estiloLogin.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <img src="~/images/imagem.jpg" class="img" />
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Introduza o email" name="Email" type="text" size="10">


            <input class="form-control" placeholder="Password" name="Password" type="password" value="">

            <div class="checkbox">
                <label>
                    <input asp-for="RememberMe" />Lembrar-me?
                </label>
            </div>

            <button type="submit" class="btn btn-default">Iniciar sessao</button>
        </div>
        <p>
            <a asp-action="ForgotPassword">Esqueceu a palavra-passe?</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Criar conta</a>
        
        
        <a asp-area="" asp-controller="AjudaAutenticacaos" asp-action="Index">Ajuda</a>
        </p>

    </form>


    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

</body>
</html>
