<div class="DefaultPresentation">
    <div class="vertical-menu">
        <a href="#" class="active">Sobre Nós</a>
        <a class="SubMenuSelected" asp-area="" asp-controller="Home" asp-action="About">Apresentação</a>
        <a class="SubMenu" asp-area="" asp-controller="Home" asp-action="Team">A Equipa</a>
        <a class="SubMenu" asp-area="" asp-controller="Home" asp-action="Help">Ajuda</a>
    </div>

    <div class="descriptionText">
        <img style="width:100%;max-height: 170px;" src="~/images/banner_apresentacao.png" alt="Visual Studio">

        <h1 style="margin-top: -79px;color: white;font-size: 49px;">APRESENTAÇÃO</h1>
        <br />
        <div class="descriptionTextBoxOut">
            <div class="descriptionTextBoxIn">
                <label>O Centro para a Internacionalização e Mobilidade do Instituto Politécnico de Setúbal (CIMOB-IPS) é uma estrutura de coordenação e apoio às atividades que visam a prossecução de políticas orientadas para a progressiva internacionalização do IPS. A finalidade é gerir e aprofundar a vertente internacional do IPS, concretizando estratégias de desenvolvimento de programas, projetos e atividades de carácter formativo de âmbito internacional (comunitário e extracomunitário), incremento da mobilidade de estudantes, docentes e não docentes e a captação de estudantes estrangeiros.</label>

                <label>O CIMOB-IPS tem a superintendência da Vice- Presidente, Professora Fernanda Pestana, por delegação do Presidente do IPS. É constituído por uma equipa técnica, responsável pela gestão dos programas, e por uma equipa de coordenadores da mobilidade, responsável pelo reconhecimento académico. Existe um coordenador da mobilidade por cada Escola Superior que é nomeado pelo respetivo Diretor da Escola.</label>
            </div>
        </div>
    </div>
</div>