@{
    ViewData["Title"] = "Home Page";
}
<div style="display:table">
    <div id="HomeDivTitle" style="display:table-cell">
        <h1 id="HomeTitleh1">Bem-Vindo ao</h1>
        <h1 id="HomeTitleh1">CIMOB</h1>
        <h4 id="HomeTitleh4">Aventura-te connosco.</h4>
    </div>
    <div style="width:61%; display:table-cell" >
        <img src="~/images/mobilidade.png" alt="Visual Studio">
    </div>
</div>

<div class="HomeImageDiv">
    <div class="ImageHomeDiv">
        <input type="Image" class="ImageHome" onclick="location.href ='@Url.Action("Index", "Concursoes")'; return false;" src="~/images/ips.jpg" />
        <label >Consulta os Concursos</label>
    </div>
    <div class="ImageHomeDiv">
        <input type="Image" class="ImageHome" onclick="location.href ='@Url.Action("SearchEscolas", "Escolas")'; return false;" src="~/images/escolas.png" />
        <label>Consulta as Parcerias</label>
    </div>
    <div class="ImageHomeDiv">
        <input type="Image" class="ImageHome" onclick="location.href ='@Url.Action("SearchPais", "Pais")'; return false;" src="~/images/mundo.png" />
        <label>Consulta os Países Disponíveis</label>
    </div>
    <div class="ImageHomeDiv">
        <input type="Image" class="ImageHome" onclick="location.href ='@Url.Action("About", "Home")'; return false;" src="~/images/conhecenos.png" />      
        <label>Sabe mais sobre nós</label>
    </div>
</div>