<div class="DefaultPresentation">
    <div class="vertical-menu">
        <a href="#" class="active">Sobre Nós</a>
        <a class="SubMenu" asp-area="" asp-controller="Home" asp-action="About">Apresentação</a>
        <a class="SubMenuSelected" asp-area="" asp-controller="Home" asp-action="Team">A Equipa</a>
    </div>

    <div class="descriptionText">
        <img style="width:100%;max-height: 170px;" src="~/images/banner_apresentacao.png" alt="Visual Studio">

        <h1 style="margin-top: -79px;color: white;font-size: 49px;">A EQUIPA</h1>
        <br />       
        <div class="descriptionTextBoxIn" style="display:table; width:100%">
            <div style="display:table-cell;text-align: center;border: 0.5px solid black;">
                <b>
                    COORDENADOR INSTITUCIONAL NO ÂMBITO DAS RELAÇÕES
                    INTERNACIONAIS
                </b>
                <br>
                Professora Fernanda Pestana - Vice-Presidente do IPS
                <p>
                    EQUIPA  TÉCNICA

                </p><p>

                    <b>Ana Dias </b><br>
                    <a href="mailto:ana.dias@ips.pt"> ana.dias@ips.pt </a>
                </p><p>


                    <b>Carina Santos </b><br>
                    <a href="mailto:carina.santos@ips.pt">
                        carina.santos@ips.pt
                    </a>
                </p><p>

                    <b>Maria Ferreira </b><br>
                    <a href="mailto:maria.ferreira@ips.pt">
                        maria.ferreira@ips.pt
                    </a>
                </p>

            </div>
            <div style="display:table-cell;text-align: center;border: 0.5px solid black;">
                <p>
                    <b>
                        COORDENADORES DA MOBILIDADE RESPONSÁVEIS PELO
                        RECONHECIMENTO ACADÉMICO
                    </b>
                </p><p>

                    <b>Escola Superior de Tecnologia de Setúbal - ESTSetúbal </b>
                    <br>
                    Prof.ª Rossana Santos | <a href="mailto:rossana.santos@estsetubal.ips.pt">
                        rossana.santos@estsetubal.ips.pt
                    </a>
                </p><p>

                    <b>Escola Superior de Educação - ESE </b><br>
                    Prof.ª Cristina Gomes da Silva | <a href="mailto:cristina.gomes.silva@ese.ips.pt">
                        cristina.gomes.silva@ese.ips.pt
                    </a>
                </p><p>

                    <b>Escola Superior de Ciências Empresariais - ESCE </b><br>
                    Prof.ª Fernanda Andrade | <a href="mailto:fernanda.andrade@esce.ips.pt">
                        fernanda.andrade@esce.ips.pt
                    </a>
                </p><p>

                    <b>Escola Superior de Tecnologia do Barreiro - ESTBarreiro </b>
                    <br>
                    Prof.ª Gabriela Gomes | <a href="mailto:gabriela.gomes@estbarreiro.ips.pt">
                        gabriela.gomes@estbarreiro.ips.pt
                    </a>
                </p><p>
                    <b>Escola Superior de Saúde - ESS </b><br>
                    Prof.ª Margarida Sequeira | <a href="mailto:margarida.sequeira@ess.ips.pt">
                        margarida.sequeira@ess.ips.pt
                    </a>
                </p>
            </div>       
        </div>       
    </div>
</div>