@model Cimob.Models.Candidatura.Concurso
    
<div>
    <h4>Html.DisplayNameFor(model => model.Nome)</h4>
    <hr />
    <div>
        <a href=@Url.Content("~/pdf/F616366566/20170905_R_473_ActividadesAcademicas.pdf")>Link to guide if it does not show</a>
   </div>
</div>
<div>   
    <a asp-action="Index">Voltar à Lista</a>
</div>
