@model Cimob.Models.Candidatura.Concurso

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Concurso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EscolaID" class="control-label"></label>
                <select asp-for="EscolaID" class ="form-control" asp-items="ViewBag.EscolaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaisId" class="control-label"></label>
                <input asp-for="PaisId" class="form-control" />
                <span asp-validation-for="PaisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegulamentoId" class="control-label"></label>
                <select asp-for="RegulamentoId" class ="form-control" asp-items="ViewBag.RegulamentoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeUtilizadorId" class="control-label"></label>
                <input asp-for="TipoDeUtilizadorId" class="form-control" />
                <span asp-validation-for="TipoDeUtilizadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

