@model Cimob.Models.Candidatura.Candidatura

<h3>Deseja desistir da presente candidatura?</h3>
<div>

    <hr />
    @ViewBag.Descricao
    <form asp-action="View">
        <a asp-action="VerCandidaturasPendentes">Retroceder</a>  | 
        <a asp-action="DeleteConfirmed" asp-route-id="@Model.CandidaturaId">Cancelar Candidatura</a>
    </form>
</div>
