@model Cimob.Models.Mapa
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pontos de interesse</title>
   

</head>
<body>
    <br />
    <h2>Pontos de interesses</h2>
    <br />
    
    <iframe src=@ViewData["url"] width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>
</html>
