@model IEnumerable<Cimob.Models.Candidatura.Candidatura>
@{
    ViewData["Title"] = "Index";
}

<h2>Já se candidatou para esta candidatura</h2>


<label>O utilizador já se candidatou para a presente candidatura.</label>
