@model Cimob.Models.Candidatura.Candidatura



<div class="DefaultPresentation" style="width: 50%;">
    <div class="vertical-menu">
        <a href="#" class="active">Candidatura</a>
        <a class="SubMenuSelected" asp-area="" asp-controller="Home" asp-action="Team">Candidatura</a>
    </div>

    <div class="row" style="margin-left: 32%;margin-top: 0%;width: 84%;">
        
        
        <div>
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">

                    <input asp-for="Curso" class="form-control" placeholder="Curso" title="Deve preencher aqui com o nome do seu concurso" />
                    <span asp-validation-for="Curso" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Genero" class="form-control" placeholder="Genero" title="Deve preencher aqui com o seu Genero" />
                    <span asp-validation-for="Genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Localidade" class="form-control" placeholder="Localidade" title="Deve preencher aqui com o nome da sua localidade"/>
                    <span asp-validation-for="Localidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Morada" class="form-control" placeholder="Morada" title="Deve preencher aqui com a sua localidade"/>
                    <span asp-validation-for="Morada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Telemovel" class="form-control" placeholder="Telemovel" title="Deve preencher aqui com o seu contacto telefónico" />
                    <span asp-validation-for="Telemovel" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="ConcursoId" class="control-label"></label>
                    <input asp-for="ConcursoId" value="@Model.ConcursoId" class="form-control" />
                </div>
                <button type="submit" class="btn btn-default">Candidatar</button>
            </form>
        </div>
    </div>

</div>









