@model Cimob.Models.Candidatura.Candidatura
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Create";
}

<h2>Candidatar</h2>

@ViewBag.Descricao
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>Indique o que o leva a candidatar-se:</label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="ConcursoId" class="control-label"></label>
                <input asp-for="ConcursoId" value="@Model.ConcursoId" class="form-control" />
            </div>
            <div class="form-group">
                @if (SignInManager.IsSignedIn(User))
                {
                    <input type="submit" value="Candidatar" class="btn btn-default" />
                }
                </div>
            </form>
        </div>
    </div>



