@model IEnumerable<Cimob.Models.Candidatura.Candidatura>
@{
    ViewData["Title"] = "Index";
}

<h2>Número máximo de Candidaturas excedido</h2>


<label>O utilizador excedeu o número máximo de Candidaturas.</label>
<label>Caso se queira candidatar novamente, deve cancelar pelo menos uma candidatura.</label>

