@model Cimob.Models.AjudaAutenticacao

    <h1 style="margin-left: 5%;">Ajuda </h1>

    <div style="margin-left: 5%;width:80%">
        <label>@Model.Descricao</label>
        <a asp-controller="@Model.Controlador" asp-action="@Model.Metodo" >Voltar </a>   
    </div>