@model Cimob.Models.AjudaAutenticacao

    <h1>Ajuda para a página @Model.Id</h1>

    <div>
        <label>@Model.Descricao</label>
        <!-- <a asp-controller="@Model.Controlador" asp-action="@Model.Metodo" >Voltar ao Detalhe</a>-->    
    </div>