<div style=" width:100%">
    <div>
        <address>
            Campus do IPS<br>
            Edifício ESTSetúbal <br>
            Estefanilha<br>
            2910-761 Setúbal<br>
            Portugal<br>
            <abbr title="Telefone:">Tel::</abbr>
            + 351 265 790 159
        </address>
    </div>

</div>