@model Cimob.Models.Candidatura.Entrevista

<h4>Criar Entrevista</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <input asp-for="EstadoId" class="form-control" value=@Model.EstadoId>
            </div>
            <div class="form-group" hidden>
                <input asp-for="CandidaturaId" class="form-control" value=@Model.CandidaturaId>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" type="date" class="form-control" value="" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" type="time" class="form-control" value="" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar Entrevista" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div style="margin-left: 10%;">
    <a asp-area="" asp-controller="Candidaturas" asp-action="Detalhe" asp-route-id="@Model.CandidaturaId">Voltar ao Detalhe</a>
</div>


