@model Cimob.Models.Utilizadores.ApplicationUser

@ViewBag.NomeUser
@ViewBag.NomeSkype
<h3>Realizar Chamada por Skype para o Utilizador @ViewBag.NomeUser:</h3>
<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div id="SkypeButton_Call_david_santos_12">
    <script type="text/javascript">
                        Skype.ui({
                            "name": "dropdown",
                            "element": "SkypeButton_Call_david_santos_12",
                            "participants": [@Model.NomeSkype]
                        });
    </script>
</div>
  


