<div style="display:table;margin-left: 10%;width: 80%;">
    <h2>Entra já em contacto connosco</h2>
    <div style="display:table-row; width:100%">
        <div style="display:table-cell; width:50%">
            <div style="display:table-row; width:100%">
                <h3>Através do skype:</h3>
                Horário de Funcionamento de atendimento por Skype e ao público:<br>
                <strong>2.ª e 4.ª</strong> | 14h00 - 16h30<br>
                <strong>3.ª e 5.ª</strong> | 09h30 - 12h30<br>
                <strong>6.ª</strong> | Não há atendimento<br>
                <abbr title="Telefone:">Tel::</abbr>
                + 351 265 790 159
                <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
                <div id="SkypeButton_Call_david_santos_12">
                    <script type="text/javascript">
                        Skype.ui({
                            "name": "dropdown",
                            "element": "SkypeButton_Call_Cunha",
                            "participants": ["Cimob"]
                        });
                    </script>
                </div>
            </div>
            <div style="display:table-row; width:100%">
                <h3>Morada:</h3>
                <div>
                    Campus do IPS<br>
                    Edifício ESTSetúbal <br>
                    Estefanilha<br>
                    2910-761 Setúbal<br>
                    Portugal<br>
                </div>
            </div>
        </div>
        <div style="display:table-cell; width:50%">
            <h3>Enviando-nos uma mensagem:</h3>
            <hr>
            <address>
                <strong>Dúvidas Gerais:</strong> <a href="mailto:cimob@ips.pt">cimob@ips.pt</a><br>
            </address>
            <div class="row">
                <div class="col-md-4" style="width: 88%;">
                    <form action="/Contactos/Create" method="post">

                        <div class="form-group" style="width: 100%;">
                            <input class="form-control" placeholder="Email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" value="" type="email">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Assunto" data-val="true" data-val-required="The Assunto field is required." id="Assunto" name="Assunto" value="" type="text">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Assunto" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Descrição" style="height: 100px;" data-val="true" data-val-required="The Descriçao field is required." id="Descri_ao" name="Descriçao" value="" type="text">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Descriçao" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <input value="Enviar" class="btn btn-default" type="submit">
                        </div>
                        <input name="__RequestVerificationToken" value="CfDJ8NauP8V6DqlNtySKG99FWyMZVD8YDWzaUhmt3zw_1IZlhVPCv-iOQ3DweJt4O51xXypIDuMU4arvVgVrb1TsSkA6FujmHFyt7Qb8wwHe04cqhH19rZIdYIryu_O2GQNzabkQ0CoioBXOawZEODQyLdI" type="hidden">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
